body {
  margin: 0;
  font-family: Inter, system-ui, Arial;
  display: flex;
  height: 100vh;
}

#startScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#appContainer {
  display: none;
  width: 100%;
  height: 100%;
}

.config-btn {
  background: #2222221c;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.config-btn:hover {
  background: #444;
}

.material-icons {
  font-size: 20px;
  color: #333;
  vertical-align: middle;
}

button .material-icons {
  margin-right: 4px;
}

#app {
  display: flex;
  flex: 1;
  gap: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 0;
}

#canvasWrap {
  flex: 1;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

canvas {
  display: block;
  width: 100%;
  height: 100vh;
}

#panel {
  width: 340px;
  max-width: 340px;
  background: #f4f4f4;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
  overflow: auto;
}

h3 {
  margin: 29px 0;
  font-size: 18px;
}

label {
  display: block;
  margin-top: 8px;
  font-size: 13px;
  color: #000;
}

input[type=text],
input[type=color],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-top: 6px;
  box-sizing: border-box;
}

input[type=range],
input[type=number] {
  width: 100%;
}

button {
  margin-top: 0;
  padding: 8px 12px;
  border-radius: 28px;
  border: none;
  cursor: pointer;
  background: #343536;
  color: #fff;
}

.small {
  font-size: 13px;
  color: #666;
  margin-top: 6px;
}

img.qr {
  width: 120px;
  height: 120px;
  display: block;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #eee;
}

#fileInput,
#meshTexture {
  display: none;
}

.topbar {
  position: absolute;
  left: 12px;
  top: 12px;
  display: flex;
  gap: 8px;
  z-index: 999;
}

.chip {
  background: rgba(255, 255, 255, 0.9);
  padding: 8px 10px;
  border-radius: 999px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  font-size: 13px;
}

/* Float menu y HUD */
#floatMenu {
  position: absolute;
  top: 100px;
  left: 20px;
  background: #fff;
  padding: 12px;
  border-radius: 18px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 998;
}

/* Lista de meshes */
#meshList {
  margin-top: 12px;
  max-height: 200px;
  overflow: auto;
  border: 1px solid #eee;
  padding: 8px;
  border-radius: 8px;
}

#meshList label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  cursor: pointer;
}

#meshList .children {
  margin-left: 16px;
}

/* Botones HUD */
#hudButtons {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 100;
}

.hud-btn {
  padding: 10px 10px;
  border-radius: 18px;
  border: none;
  background: #ababab;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
}

.toggle-btn {
  margin-left: 4px;
  cursor: pointer;
  font-size: 12px;
  color: #666;
}

/* Panel animaciones */
#animationPanel {
  margin-top: 12px;
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 8px;
}

/* Scroll */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

#floatColor {
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  .shopping-modal-content {
    flex-direction: column;
  }
  .product-actions {
    flex-direction: column;
  }
}

/* Botón HUD */
#toggleHudButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  padding: 10px 16px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #00bcd4, #00ffcc);
  color: #111;
  font-weight: bold;
  cursor: pointer;
}

/* Catálogo */
.catalogContainer {
  position: absolute;
  bottom: 1%;
  left: 20px;
  z-index: 10000;
}

.catalogButton {
  position: relative;
  bottom: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

#catalogHUD {
  margin-bottom: 8px;
  width: 260px;
  background: rgba(255, 255, 255, 0.446);
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 10px 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  transform: scale(0.3);
  transform-origin: top left;
  opacity: 0;
  transition: 0.3s;
}

.catalogButton:hover + #catalogHUD,
#catalogHUD.active {
  transform: scale(1);
  opacity: 1;
}

#modelName {
  position: fixed;
  bottom: 20px;
  left: 8%;
  transform: translateX(-50%);
  padding: 6px 12px;
  background: rgba(189, 189, 189, 0.6);
  color: #fff;
  border-radius: 16px;
  font-size: 13px;
  font-family: Inter, system-ui, Arial;
  z-index: 9999;
  pointer-events: none;
  backdrop-filter: blur(4px);
  transition: 0.3s;
}
